<a href="https://colab.research.google.com/github/EngLeandroA/MRMR_Dataset_EEG/blob/main/MRMR_Dataset_EEG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%matplotlib inline

In [ ]:
 # pip install pymrmr

In [ ]:
import pymrmr

ModuleNotFoundError: ignored

In [ ]:
# Biblioteca utilizadas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import operator
import random

In [ ]:
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

from sklearn.preprocessing import MaxAbsScaler ## Normalizar pelo maior

In [ ]:
# Carregar o dataset do Github

#url = "https://raw.githubusercontent.com/Leandroa06092020/Data-set-name-prostate/master/dataset.csv"
#url = "http://home.penglab.com/proj/mRMR/test_leukemia_s3.csv"
url = "h1_v1_a_filtragem_p4_ref_sobi_CorrICA.csv"
# link do dataset ->  https://file.biolab.si/biolab/supp/bi-cancer/projections/info/prostata.html

dataset = pd.read_csv(url, sep=',', names=colum)

In [ ]:
colum = list()
for x in range(1, 4002):
  colum.append(f'T{x}')

In [ ]:
dataset.shape

(19, 4001)

In [ ]:
dataset.head()

         T1        T2        T3  ...     T3999     T4000     T4001
0 -0.279170 -2.601220 -1.978702  ... -3.578911 -0.154316  2.866647
1  0.761494 -0.980477 -3.798604  ... -1.921574 -0.360043  0.795456
2 -0.008272 -1.928467 -0.480931  ... -3.861346 -1.412838  0.470747
3  1.446072 -0.697501 -4.154566  ... -1.980003 -1.158464 -0.361756
4 -1.885209 -2.615285 -0.756377  ... -1.612804 -0.385842  0.460683

[5 rows x 4001 columns]

In [ ]:
dataset = dataset.transpose()

In [ ]:
dataset.head()

          0         1         2   ...        16        17        18
T1 -0.279170  0.761494 -0.008272  ... -1.423612  2.799516  2.924863
T2 -2.601220 -0.980477 -1.928467  ... -1.835298  1.493476  2.961296
T3 -1.978702 -3.798604 -0.480931  ...  1.457213  1.579317  3.159708
T4 -0.429729 -6.115936  1.564123  ...  3.134182  3.169512  3.514136
T5 -1.367931 -5.944208  0.136878  ... -0.592202  3.370948  2.859288

[5 rows x 19 columns]

In [ ]:
colum = list()
for x in range(1, 4002):
  colum.append(f'T{x}')

In [ ]:
dataset.rename(columns=colum)

TypeError: ignored

In [ ]:
dataset.columns(colum)

TypeError: ignored

In [ ]:
colum = list()
for x in range(1, 19):
  colum.append(f'P{x}')

['P1',
 'P2',
 'P3',
 'P4',
 'P5',
 'P6',
 'P7',
 'P8',
 'P9',
 'P10',
 'P11',
 'P12',
 'P13',
 'P14',
 'P15',
 'P16',
 'P17',
 'P18']